<!-- About Section -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5NKV464Y64"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5NKV464Y64');
</script>
<section id="about" class="page particles">
    <div class="page-container">
        {% include nav.html %}
        <div class="row">
            <div class="col-lg-12 page-title fade-0">
                <h2>{{ site.data.about.title }}</h2>
            </div>
        </div>
        <div class="row">
            <img class="img-featured img-centered fade-1"
                 src="{{ site.data.about.image | relative_url }}"></img>
        </div>
        
        <div style="text-align:center;">
            <p>Hi, Welcome to my website! I am a multilingual data scientist with a passion for running, scuba diving, and training for ultra marathons.</p>
            <p>I hold a Master's degree in Data Science and have gained hands-on experience in contracting enterprise analytics and S/4HANA Cloud Solution during my tenure as an SAP Associate at SAP SE. 
            With a strong skill set in various fields such as machine learning, data mining, and data visualization, I am proficient in programming with R and Python, including libraries such as Pandas, Pytorch, and Networkx. I also excel in data visualization using Excel and Matplotlib.
            My diverse experience and fluency in five languages - Albanian, English, German, Italian, and Spanish - bring a fresh perspective to every project I undertake. 
            When I'm not working on data science projects, you can find me running with my husband, exploring the depths of the ocean through scuba diving, or training for my next ultra marathon.
             My passion for data science, coupled with my love for adventure, has given me a unique perspective and a drive to tackle every challenge with an open mind and an adventurous spirit.
            </p>
            <p>- "Thank you for visiting my website, and I look forward to working with you on your data science projects!</p>
          </div>
</section>
