<!-- About Section -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5NKV464Y64"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5NKV464Y64');
</script>
<section id="about" class="page particles">
    <div class="page-container">
        {% include nav.html %}
        <div class="row">
            <div class="col-lg-12 page-title fade-0">
                <h2>{{ site.data.about.title }}</h2>
            </div>
        </div>
        <div class="row">
            <img class="img-featured img-centered fade-1"
                 src="{{ site.data.about.image | relative_url }}"></img>
        </div>
        {% for row in site.data.about.rows %}
            {% assign i = 1 %}
            <div class="row">
                {% for paragraph in row %}
                    <div class="left-justified col-lg-4 {% if i == 1 %} col-lg-offset-2 {% endif %} fade-{{ i }}">
                        <p>{{ paragraph }}</p>
                    </div>
                    {% assign i = i | plus: 1 %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="sectionContent">
        {% assign i=0 %}
        {% for row in site.data.about.rows  %}
            {% if i != 0%}<hr>{% endif %}
            {% assign i = i | plus:1 %}
            <article>
                    <p class="resume-bullet">{{ row }}</p>
            </article>
        {% endfor %}
    </div>
</section>
