<div id="particles-js"></div>

<script src="particles.js"></script>

<div id="mainArea" class="fade-0 particles">
	{% include nav.html %}
    <section class="running">
        <article>
            <div class="sectionTitle">
                <h1>Ultrarunning Races</h1>
                <hr>
            </div>
        </article>
        <div class="clear"></div>
    </section>

    <section class="diving-section">
        <div class="sectionTitle">
            <h1>Scuba</h1>
            <hr>
        </div>
		
		
