<div id="mainArea" class="fade-0 particles">
	{% include nav.html %}
    <section class="running">
        <article>
            <div class="sectionTitle">
                <h1 style="color:white">Ultrarunning Races</h1>
                <div class="album" style="display:flex; overflow-x: auto; flex-wrap:wrap;">
                    <div class="race" style="width: 300px; margin: 10px;text-align: center;">
                      <h2 "color:white">Mountainman</h2>
                      <img src="/img/PSX_20210819_134428.jpg" alt="Reit im Winkl" width="500" height="600">
                      <p "color:white">Mountainman Trail - 55K - Reit im Winkl</p>
                    </div>
                    <div class="race" style="width: 300px; margin: 10px;text-align: center;">
                      <h2 "color:white">Golden Gate Marathon</h2>
                      <img src="/img/GoldenGate.png" alt=" San Francisco" width="500" height="600">
                      <p>Golden Gate Marathon - Marathon - San Francisco, CA</p>
                    </div>
                    <div class="race" style="width: 300px; margin: 10px;text-align: center;">
                      <h2>Mozart 100 by UTMB</h2>
                      <img src="/img/7716_20220618_112651_231256281_original.jpg" alt="Salzburg" width="500" height="600">
                      <p>Mozart 100 by UTMB in Salzburg, 105km</p>
                    </div>
                  </div>
                <div class="races-list">
                    <a class="race" href="https://www.abavent.de/anmeldeservice/mountainman2021reitimwinkl/ergebnisse#4_911094"> <img src="/img/PSX_20210819_134428.jpg" alt="Reit im Winkl" width="500" height="600">Mountainman Trail - 55K - Reit im Winkl</a>
                    <a class="race" href="/events/event2.html">Event 2</a>
                    <a class="race" href="/events/event3.html">Event 3</a>
                  </div>
                <hr>
            </div>
        </article>
        <div class="clear"></div>
    </section>

    <section class="diving-section">
        <div class="sectionTitle">
            <h1>Scuba Diving</h1>
            <hr>
        </div>


<!-- Container for the image gallery -->
<div class="container">

  <!-- Full-width images with number text -->
  <div class="Ultrarunning races">
    <div class="numbertext">1 / 6</div>
      <img src="/img/PSX_20210819_134428.jpg" style="width:100%">
      <p>Mountainman Trail - 55K - Reit im Winkl</p>
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
      <img src="/img/GoldenGate.png" style="width:100%">
      <p>Golden Gate Marathon - Marathon - San Francisco, CA</p>
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
      <img src="/img/7716_20220618_112651_231256281_original.jpg" style="width:100%">
      <p>Mozart 100 by UTMB in Salzburg, 105km</p>
  </div>

  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
      <img src="img_lights_wide.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
      <img src="img_nature_wide.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
      <img src="img_snow_wide.jpg" style="width:100%">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <!-- Image text -->
  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <!-- Thumbnail images -->
  <div class="row">
    <div class="column">
      <img class="demo cursor" src="/img/PSX_20210819_134428.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
    </div>
    <div class="column">
      <img class="demo cursor" src="/img/GoldenGate.png" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
    </div>
    <div class="column">
      <img class="demo cursor" src="/img/7716_20220618_112651_231256281_original.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
    </div>
    <div class="column">
      <img class="demo cursor" src="img_lights.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
    </div>
    <div class="column">
      <img class="demo cursor" src="img_nature.jpg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
    </div>
    <div class="column">
      <img class="demo cursor" src="img_snow.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
    </div>
  </div>
</div>

		
		
