<div id="mainArea" class="fade-0 particles">
	{% include nav.html %}
    <section class="running">
        <article>
            <div class="sectionTitle">
                <h1>Ultrarunning Races</h1>
                <div class="races-list">
                    <a class="race" href="https://www.abavent.de/anmeldeservice/mountainman2021reitimwinkl/ergebnisse#4_911094"> <img src="/img/PSX_20210819_134428.jpg" alt="Reit im Winkl">Mountainman Trail - 55K - Reit im Winkl</a>
                    <a class="race" href="/events/event2.html">Event 2</a>
                    <a class="race" href="/events/event3.html">Event 3</a>
                  </div>
                <hr>
            </div>
        </article>
        <div class="clear"></div>
    </section>

    <section class="diving-section">
        <div class="sectionTitle">
            <h1>Scuba Diving</h1>
            <hr>
        </div>
		
		
